[user]
	name = Ben Hutton
	email = benhutton@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/ben/.gitignore_global
  editor = NONERDTREE=1 vim
	attributesfile = /home/ben/.gitattributes
[web]
  browser = chrome
[browser "chrome"]
  path = /opt/google/chrome/chrome
